.body{
    background:#f7f7f7;
    padding-top:0;
}
.wrapper{
    position:absolute;
    margin:auto;
    width:100%;
    top:24%;
    left:0;
    right:0;
    z-index:2;
}

.anotherWrapper{
    margin-left: auto;
    position: relative;
    max-width: 1008px;
    padding: 0 7px;
    margin-right: auto;
}

.logoWrapper{
    margin-bottom: 1.25em;
    margin-top: 0;
    position: relative;
    display: block;
    max-width: 300px;
    margin: auto;
}

.logoWrapperLink{
    background-image: url("/res/img/logo.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: auto;
    display: block;
    position: relative;
    text-align: center;
    color: transparent;
    text-indent: -9999px;
    font-size: 0px;
    background-size: 166px 130px;
    width: 166px;
    height: 130px;
    text-decoration: none;
    font-family: inherit;
}

.searchWrapperHome{
    width: auto;
    padding: 1.3em 0.8em 1em;
    max-width: 634px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
}

.searchFormHomePage{
    font-size: 1.14em;
    padding-right: 3.5em;
    box-sizing: border-box;
    border-radius: 2px;
    display: block;
    position: relative;
    height: 2.8em;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    padding-left: 0.75em;
}

.searchFormHomePageTextBox{
    opacity: 1;
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.1em;
    font-family: "DDG_ProximaNova","DDG_ProximaNova_UI_0","DDG_ProximaNova_UI_1","DDG_ProximaNova_UI_2","DDG_ProximaNova_UI_3","DDG_ProximaNova_UI_4","DDG_ProximaNova_UI_5","DDG_ProximaNova_UI_6","Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif;
    font-weight: normal;
    color: #333;
    display: block;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    height: 2.54545em;
    z-index: 1;
    position: relative;
    top: -1px;
}
.searchFormHomePageSubmit{
    border-radius: 2px;
    min-width: 26px;
    color: #aaa;
    font-size: 1.25em;
    padding: 0 0.64em;
    height: auto;
    min-height: 1.8em;
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 1.5;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-appearance: none;
    box-sizing: content-box;
    font-family: 'ddg-serp-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    text-decoration: none !important;
    -webkit-tap-highlight-color: transparent;
    width: 1em;
    display: block;
    cursor: pointer;
    background: transparent;
    text-align: center;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2px;
    left: auto;
    margin: auto;
    z-index: 2;
    outline: none;
}
.searchFormHomePageSubmit:active{
    background-color: #333;
    transition: none 0.3s ease-in-out 0s;
}

.searchFormHomePageSubmit:focus{
    background-color: #66ad57;
    color: white;
    outline: none;
}
.searchFormHomePageSubmit:hover{
    background-color: #66ad57;
    color: white;
    outline: none;
}

.searchFormHomePageButton{
    display: none;
    margin-right: 3.2em;
    padding: 0 0.5em;
    line-height: 1;
    min-width: 21px;
    color: #aaa;
    visibility: hidden;
    opacity: 0;
    -webkit-appearance: none;
    box-sizing: content-box;
    font-family: 'ddg-serp-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    text-decoration: none !important;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    width: 1em;
    cursor: pointer;
    background: transparent;
    text-align: center;
    border: none;
    height: 2.45em;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2px;
    left: auto;
    margin: auto;
    z-index: 2;
    outline: none;
}